* {
    padding: 0em;
    margin: 0em;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.cards-section {
    display: flex;
    flex-direction: row;
    width: max-content;
    /* justify-content: space-between; */
}
.card {
    margin: 1em 1em;
}
.card h2 {
    font-size: 1em;
    font-weight: 500;
}
.display-cards{
    display: flex;
    flex-direction: row;
}
.birthday-cards{
    width: 10em;
}